				<div class="" style="position:relative; margin:-22px;">
					<ul class="h-menu block-shadow-impact">
						<li><a href="#"><span class="mif-chevron-thin-left icon"></span></a></li>
						<li><a href="#"><span class="mif-chevron-thin-up icon"></span></a></li>
						<li>
							<a href="#" class="dropdown-toggle">More...</a>
							<ul  class="d-menu" data-role="dropdown">
								<li><a href="#">About</a></li>
								<li><a href="#">Partners</a></li>
							</ul>
						</li>
						<li><a href="/"><span class="mif-home icon"></span></a></li>
						<li class="place-right no-hovered"><a href="#"><span class="mif-apps icon"></span></a></li>
					</ul>
				</div>	
				