			<div class="" id="cell-sidebar" style="background-color:rgba(60,63,65,1);height: 100%;padding:0;">
				<ul class="v-menu darcula" style="width:250px;">
					<li><a href="/users"><span class="mif-earth icon"></span> Dashboard</a></li>
					<li><a href="#"><span class="mif-user icon"></span> Profile</a></li>
					<li><a href="/tasks/user"><span class="mif-calendar icon"></span> Task</a></li>
					<li><a href="/users/blog"><span class="mif-blogger icon"></span> Blog</a></li>
					<li><a href="#"><span class="mif-list icon"></span> Demo</a></li>
					<li><a href="#"><span class="mif-question icon"></span> Interview Question</a></li>
					<li>
                    <a href="#" class="dropdown-toggle"><span class="mif-settings-ethernet icon"></span> Settings</a>
						<ul class="d-menu" data-role="dropdown">
							<li><a class="mif-wrench icon" href="#"> Change Password</a></li>
							<li><a class="mif-switch icon" href="/account/logout"> Logout</a></li>
						</ul>
					</li>
				</ul>
            </div>
				
         