<!DOCTYPE html>
<html>
  <head>
    <title>html5 test page</title>
    <link rel="stylesheet" type="text/css" href="../example/example0/css/html5.css" />
	<script src="../example/example0/js/jquery.min.js"></script>
	<script src="../example/example0/js/html5.js"></script>
  </head>
  <body>
   
	<div id="main">
	
		<% include  demo1.html %>
		<p><a href="demo1.html">fsgrfhk</a></p>
	
	</div>
   
  </body>
</html>
