	<div id="header">
      <div id="logo">
        <h1>nodejs_demo<a href="#">_1</a></h1>
        <div class="slogan">Cool slogan goes here!</div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <!-- put class="current" in the li tag for the selected page - to highlight which page you're on -->
          <li><a href="http://127.0.0.1:8095/">Home</a></li>
		  <li><a href="http://127.0.0.1:8095/blogs">Blog</a></li>
          <li><a href="http://127.0.0.1:8095/examples">Example</a></li>
          <li><a href="http://127.0.0.1:8095/set">Setting</a></li>
          <li><a href="http://127.0.0.1:8095/contact">Contact Us</a></li>
        </ul>
      </div>
    </div>